body{
	/*CSS Reset*/
	margin: 0;
	padding: 0;
	
	position: relative;
	
}
.squaresClass{
	position: absolute;	
}
.squareClass{
	position: absolute;
	-webkit-box-shadow: 2px 2px 2px #888;
	        box-shadow: 2px 2px 2px #888;
	-webkit-border-radius: 5%;
	        border-radius: 5%;
}